amcl:
  ros__parameters:
    use_sim_time: false
    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    scan_topic: /scan
    min_particles: 500
    max_particles: 2000
    update_min_d: 0.2
    update_min_a: 0.2
    resample_interval: 1
    transform_tolerance: 1.0

bt_navigator:
  ros__parameters:
    use_sim_time: false

controller_server:
  ros__parameters:
    use_sim_time: false
    controller_plugins: ["FollowPath"]

    FollowPath:
      plugin: "dwb_core::DWBLocalPlanner"

      # Add critics!
      debug_trajectory_details: true
      min_vel_x: 0.0
      max_vel_x: 0.26
      max_vel_theta: 1.0
      min_speed_xy: 0.0
      max_speed_xy: 0.26
      max_accel_x: 2.5
      max_accel_theta: 3.2
      acc_lim_x: 2.5
      acc_lim_theta: 3.2
      vx_samples: 20
      vy_samples: 5
      vtheta_samples: 20
      sim_time: 1.7
      linear_granularity: 0.05
      angular_granularity: 0.025
      transform_tolerance: 0.2
      xy_goal_tolerance: 0.25
      trans_stopped_velocity: 0.25
      short_circuit_trajectory_evaluation: true

      # Here's the missing part
      critics: [
        "RotateToGoal",
        "ObstacleFootprint",
        "PathAlign",
        "PathDist",
        "GoalAlign",
        "GoalDist"
      ]

      RotateToGoal:
        scale: 32.0

      ObstacleFootprint:
        scale: 0.01

      PathAlign:
        scale: 32.0

      PathDist:
        scale: 32.0

      GoalAlign:
        scale: 24.0

      GoalDist:
        scale: 24.0

planner_server:
  ros__parameters:
    use_sim_time: false
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"

map_server:
  ros__parameters:
    use_sim_time: false
    yaml_filename: "/home/samar/takwa_ws/src/maps/takwa_maps.yaml"


